<nav>
    <a href="index.html">home</a>
    <a href="about.html">about</a>
    <a href="about.html#skills">skills</a>
    <a href="about.html#experience">experience</a>
    <a href="impressum.html">impressum</a>
</nav>
<div id="logo"><a href="index.html"><img src="inna-tichman.jpg"/></a></div>
