body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  max-height: 100%;
  font-family:Sans-serif;
  line-height: 1.5em;
  background: #8cbf00 url("background.jpg") no-repeat;
  background-size: cover;
}

main {
  position: fixed;
  top: 110px; /* Set this to the height of the header */
  bottom: 50px; /* Set this to the height of the footer */
  padding-left: 30px;
  width: 70%;
  overflow: auto;
  color: #dcf1ff;
}

h1 {
  color: #abce00;
}

nav a {
  padding-left: 30px;
}

#logo {
  position: absolute;
  top: -10px;
  right: 200px;
  opacity: 0.6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo img {
  width: 150px;
  border-radius: 4px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  background: rgba(126, 207, 255, 0.61);
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  height: 30px;
  overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
  background: rgba(171, 206, 0, 0.6);
}

.innertube {
  margin: 15px; /* Provides padding for the content */
}

p {
  color: #555;
}

a {
  color: darkgreen;
  text-decoration: none;
}

/*IE6 fix*/
* html body{
  padding: 50px 0 50px 230px; /* Set the first value to the height of the header, the third value to the height of the footer, and last value to the width of the nav */
}

* html main{
  height: 100%;
  width: 100%;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 230px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #8cbf00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #d5ff00;
}